.key {
  width: 22px;
  height: 33px;
  border: 1px solid #888888;
  border-radius: 4px;
  margin: 2px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Arial;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.key__gray {
  background-color: #888888;
}

.key__yellow {
  background-color: yellow;
  color: black;
}

.keyboard__row {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

.keyboard__buttons {
  width: 30px;
}
