.letter {
  width: 50px;
  height: 50px;
  border: 1px solid yellow;
  margin: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.ground {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 0 auto 40px;
}
