body {
  font-family: Arial;
  background: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  user-select: none;
  color: white;
  text-transform: uppercase;
}
